#tab-button {
    color: #28a745 !important;
    font-weight: bold;
    background-color: none !important;
}

#tab-button.active {
    background-color: #ececec !important;
}

#tab-button-aronia {
    color: white !important;
    font-weight: bold;
}

#tab-button-aronia.active {
    background-color: rgba(225, 225, 225, 0.2) !important;
}

.about-header {
    height: auto;
    min-height: 85vh;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
    url('../../images/about.JPG') center/cover no-repeat;
  }