@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great|Julius+Sans+One&display=swap');

.carousel-item {
  height: 70vh;
  min-height: 350px;
  font-family: 'Fredericka the Great', cursive;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel-caption {
  top: 60%;
  transform: translateY(-50%);
  bottom: initial;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/* --------- HEADER ------------- */

.scroll-image-one {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
  url('./images/header1.JPG') center/cover no-repeat;
}

.scroll-image-two {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
  url('./images/header2.JPG') center/cover no-repeat;
}

.scroll-image-three {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
  url('./images/header3.JPG') center/cover no-repeat;
}

/* ---------------  HEADER  END -------- */

@media screen and (max-width: 768px) {

  .carousel-item {
    height: 50vh;
  }

}