@import url('https://fonts.googleapis.com/css?family=Bree+Serif&display=swap');


.bg-black {
  background-color: #333333;
}

.btn {
  border-radius: 0px !important;
  padding: 0.4rem 2rem;
}

.navbar-logo {
  height: 7vh;
}

.menu {
  display: none;
}


.sidebar-content a {
  color: var(--black);
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: var(--light-grey);
  overflow-x: hidden;
  transition: all 0.5s ease 0s;
}

.sidebar--active {
  width: 100%;
}

.sidebar-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sidebar a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: all 0.3s ease 0s;
}

.sidebar a:hover,
.sidebar a:focus {
  color: var(--primary-green);
}
.sidebar .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: var(--black);
  cursor: pointer;
}

@media screen and (max-height: 450px) {
.sidebar a {
  font-size: 20px;
}
.sidebar .close {   
  font-size: 40px;
  top: 15px;
  right: 35px;
}
}

@media only screen and (max-width: 1000px) {
.nav-links,
.cta {
  display: none;
}
.menu {
  display: initial;
}
}


.dropdown-menu {
  border-radius: 0px !important;
}

.interesting-image {
  height: 500px;
  min-height: 200px;
  background: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
  url('./images/interesting.JPG') center/cover no-repeat;
}

.aronia-mela {
  height: 100%;
  min-height: auto;
  background: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
  url('./images/aronia-mela.JPG') center/cover no-repeat;
}

.contacts-header {
  height: 55vh;
  min-height: 350px;
  background: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
  url('./images/contacts.JPG') center/cover no-repeat;
}

.error-header {
  height: 70vh;
  min-height: 350px;
  background: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
  url('./images/contacts.JPG') center/cover no-repeat;
}

.cursor {
  cursor: pointer;
}
.content-padding {
  margin-top: 12vh;
}

/* --------- HEADERs ------------- */

.carousel-item {
  height: 85vh;
  min-height: 350px;
  font-family: 'Bree Serif', serif;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel-caption {
  top: 60%;
  transform: translateY(-50%);
  bottom: initial;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.scroll-image-one {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
  url('./images/header1.JPG') center/cover no-repeat;
}

.scroll-image-two {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
  url('./images/header2.JPG') center/cover no-repeat;
}

.scroll-image-three {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
  url('./images/header3.JPG') center/cover no-repeat;
}


/* ---------------  HEADERs  END -------- */


@media screen and (max-width: 1000px) {

  .interesting-image {
    height: 30%;
  }

}


@media screen and (max-width: 768px) {

  .carousel-item {
    height: 50vh;
  }

}